<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.auto.ZyCaseProspectingUserMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.common.entity.auto.ZyCaseProspectingUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="prospecting_id" property="prospectingId" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="add_uid" property="addUid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, prospecting_id, add_time, add_uid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zy_case_prospecting_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zy_case_prospecting_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zy_case_prospecting_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUserExample" >
    delete from zy_case_prospecting_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUser" useGeneratedKeys="true" keyProperty="id" >
    insert into zy_case_prospecting_user (user_id, prospecting_id, add_time, 
      add_uid)
    values (#{userId,jdbcType=BIGINT}, #{prospectingId,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addUid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUser" useGeneratedKeys="true" keyProperty="id" >
    insert into zy_case_prospecting_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="prospectingId != null" >
        prospecting_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="addUid != null" >
        add_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="prospectingId != null" >
        #{prospectingId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUid != null" >
        #{addUid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUserExample" resultType="java.lang.Integer" >
    select count(*) from zy_case_prospecting_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zy_case_prospecting_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.prospectingId != null" >
        prospecting_id = #{record.prospectingId,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addUid != null" >
        add_uid = #{record.addUid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zy_case_prospecting_user
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      prospecting_id = #{record.prospectingId,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      add_uid = #{record.addUid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUser" >
    update zy_case_prospecting_user
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="prospectingId != null" >
        prospecting_id = #{prospectingId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUid != null" >
        add_uid = #{addUid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUser" >
    update zy_case_prospecting_user
    set user_id = #{userId,jdbcType=BIGINT},
      prospecting_id = #{prospectingId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_uid = #{addUid,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="MysqlDialectSuffix" >
    <if test="pageHelper != null" >
      <![CDATA[ limit #{pageHelper.begin}, #{pageHelper.length}]]>
    </if>
  </sql>
  <insert id="insertBatch" parameterType="com.example.demo.common.entity.auto.ZyCaseProspectingUser" >
    insert into zy_case_prospecting_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,user_id,prospecting_id,add_time,add_uid,
    </trim>
    values
    <foreach collection="list" index="index" item="item" separator="," >
      (
      <trim suffixOverrides="," >
        #{item.id,jdbcType=INTEGER},#{item.userId,jdbcType=BIGINT},#{item.prospectingId,jdbcType=INTEGER},#{item.addTime,jdbcType=TIMESTAMP},#{item.addUid,jdbcType=BIGINT},
      </trim>
      )
    </foreach>
  </insert>
</mapper>